#about {
    section {
        .about-content {
            &__flex {
                &--item {
                    @include flex();
                    padding: 16px 24px;
                    border-top: 1px solid $color5;
                    &:last-of-type {
                        border-bottom: 1px solid $color5;
                    }
                    @include sp {
                        display: block;
                        padding: 8px 0;
                    }
                    .title {
                        width: 100%;
                        max-width: 96px;
                        padding-right: 24px;
                        color: $color3;
                        font-weight: 500; //medium
                    }
                    .text {
                        color: $color4;
                        @include sp {
                            padding-top: 8px;
                        }
                    }
                    .add-box {
                        @include flex();
                        @include lg {
                            display: block;
                        }
                        .map {
                            @include flex(0, center);
                            width: 170px;
                            padding-left: 24px;
                            color: $color3;
                            font-weight: 500;
                            @include lg {
                                padding-top: 8px;
                                padding-left: 0;
                            }
                            .mapicon {
                                margin-right: 8px;
                                max-width: 12px;
                            }
                            .linkicon {
                                margin-left: 8px;
                                max-width: 14px;
                            }
                        }
                    }
                    div {
                        @include flex();
                        &.tel {
                            padding-right: 24px;
                            .text {
                                padding-right: 4px;
                            }
                        }
                        &.fax {
                            .text {
                                padding-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
    .slick-dotted.slick-slider {
        margin: 0;
    }
    .partner-slick {
        .slick-list {
            .slick-slide {
                margin: 0 8px;
                @include sm {
                    margin: 0 4px;
                }
                p {
                    padding-top: 8px;
                    color: $color4;
                    text-align: center;
                }
            }
        }
        .slick-dots {
            @include flex(center, center);
            position: inherit;
            padding-top: 32px;
            bottom: 0;
            @include sm {
                padding-top: 16px;
            }
            li {
                @include sm {
                    width: 15px;
                }
                button {
                    &::before {
                        width: 12px;
                        height: 12px;
                        font-size: 1.2rem;
                        color: $color5!important;
                        opacity: 1;
                    }
                }
                &.slick-active {
                    button {
                        &::before {
                            color: $color3!important;
                        }
                    }
                }
            }
        }
    }
}