html {
    font-size: 10px !important;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    color: $color4;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.08em;
    line-height: 1.5em;
    @include sm {
        font-size: 1.4rem;
    }
}


/*デフォルトのマウスカーソルを非表示にする*/

html,
body,
a {
    cursor: none;
}


/*独自のマウスカーソルを作成*/

.cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $color13;
    opacity: 0.6;
    z-index: 10000;
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
    transform: translate(0, 0);
    pointer-events: none;
    @include lg {
        display: none;
    }
}


/*aタグにホバーした時に見た目変化*/

.cursor.cursor--hover {
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    background: $color13;
    opacity: 0.6;
}


/*動き確認用ボタン*/

::selection {
    background: #3e366b;
    color: #fff;
}

//Firefox
::-moz-selection {
    background: #3e366b;
    color: #fff;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.page-width {
    max-width: 1024px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.hexa-anime {
    max-width: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

section {
    padding: 160px 0 0 0;
    position: relative;
    @include sm {
        padding: 80px 0 0 0;
    }
}

img {
    width: 100%;
    height: auto;
}

.pc {
    display: block;
    @include sm {
        display: none;
    }
}

.sp {
    display: none;
    @include sm {
        display: block;
    }
}

h2.vertical-head {
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $color2;
    font-size: 13.6rem;
    line-height: 1.19em;
    letter-spacing: 0.06em;
    position: absolute;
    writing-mode: vertical-rl;
    white-space: nowrap;
    left: 0;
    top: 160px;
    @include media-max(1439px) {
        font-size: 8.6rem;
    }
    @include xl {
        display: none;
    }
}

.white {
    color: $color1!important;
}

.gray {
    right: 0;
    color: $color8!important;
}

.green {
    color: $color5!important;
}

// タイトルの左に線を付ける
h3.title-border {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    padding: 0 0 0 48px;
    text-align: center;
    margin-bottom: 64px;
    font-weight: 500;
    @include sm {
        margin-bottom: 40px;
        font-size: 1.6rem;
    }
    &:before {
        position: absolute;
        top: calc(50% - 1px);
        width: 24px;
        height: 5px;
        content: '';
        border-bottom: solid 4px $color3;
        left: 0;
    }
}

p.title-s-border {
    position: relative;
    display: flex;
    padding: 0 32px;
    text-align: center;
    font-weight: 500;
    &:before {
        position: absolute;
        top: calc(50% - 1px);
        width: 16px;
        height: 4px;
        content: '';
        border-bottom: solid 5px $color3;
        left: 0;
    }
}

// トップページ等2カラムのコンテンツ
.double-card {
    @include flex;
    padding-top: calc(160px - 64px);
    @include sm {
        padding-top: calc(80px - 24px);
    }
    a.double-link {
        display: inline-block;
        width: calc(100% / 2);
        &:hover .double-card--left__content::after {
            content: "";
            transition: 0.3s;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: $color8;
        }
        &:hover .double-card--left__title {
            background-color: $color12;
            color: $color3;
        }
    }
    &--left,
    &--right {
        @include flex($align: center);
        flex-direction: column;
        position: relative;
        &__title {
            max-width: 348px;
            width: 100%;
            height: 128px;
            font-family: din-condensed, sans-serif;
            font-size: 3.2rem;
            color: $color1;
            background-color: $color3;
            @include flex($align: center, $justify: center);
            position: relative;
            top: 64px;
            transition: 0.3s;
            z-index: 300;
            @include lg {
                max-width: 280px;
            }
            @include sm {
                max-width: 144px;
                height: 48px;
                top: 24px;
                font-size: 2rem;
            }
            @include media-max(374px) {
                max-width: 120px;
            }
        }
        &__content {
            width: 100%;
            padding-top: 128px;
            padding-bottom: 64px;
            @include flex($align: center, $justify: center);
            background-color: $color5;
            flex-direction: column;
            position: relative;
            transition: 0.3s;
            &::after {
                content: "";
                transition: 0.3s;
            }
            @include sm {
                padding-top: 56px;
                padding-bottom: 32px;
            }
            svg {
                @include sm {
                    width: 24px;
                    height: 24px;
                }
            }
            .card-text {
                font-size: 2rem;
                line-height: 1.5em;
                letter-spacing: 0.08em;
                font-weight: 500;
                padding-top: 16px;
                @include sm {
                    font-size: 1.4rem;
                    padding-top: 8px;
                }
            }
        }
    }
    &--left {
        margin-right: 20px;
        @include sm {
            margin-right: 8px;
        }
    }
    &--right {
        margin-left: 20px;
        @include sm {
            margin-left: 8px;
        }
    }
}

// SERVICEのコンテンツなど
.under-content {
    &--area {
        img {
            max-width: 928px;
            @include lg {
                max-width: calc(100% - 64px);
                margin: 0 0 auto 0;
            }
            @include sp {
                max-width: 100%;
                margin: 0;
            }
        }
    }
    &--text {
        position: relative;
        margin-top: -64px;
        margin-left: auto;
        max-width: 928px;
        @include lg {
            margin-left: 64px;
        }
        @include sp {
            margin-top: 0;
            margin-left: 0;
        }
        .hosoku {
            text-align: end;
            margin-top: -8px;
            @include sp {
                font-size: 1rem;
                margin-top: -16px;
            }
        }
    }
}

.text-box {
    padding: 40px;
    background-color: $color7;
    margin-bottom: 24px;
    &:last-child {
        margin: 0;
    }
    &__title {
        font-size: 2rem;
        letter-spacing: 0.08em;
        color: $color3;
        padding-bottom: 24px;
        font-weight: 500;
        @include sm {
            font-size: 1.6rem;
            padding-bottom: 16px
        }
    }
}

// 薬局紹介
.pharmacy-area {
    @include flex();
    margin-bottom: 64px;
    @include sm {
        flex-direction: column;
        margin-bottom: 40px;
    }
    &:last-child {
        margin: 0;
    }
    &.preparation {
        @include sm {
            flex-direction: column;
        }
        .preparationtitle {
            font-size: 2rem;
            color: $color3;
            font-weight: 500;
            @include sm {
                font-size: 1.6rem;
            }
        }
    }
    img {
        max-width: 476px;
        width: 50%;
        margin-right: 20px;
        object-fit: cover;
        @include sm {
            max-width: 100%;
            width: 100%;
        }
    }
    &__right {
        max-width: 476px;
        width: 50%;
        margin-left: 20px;
        @include sm {
            margin-left: 0;
            max-width: 100%;
            width: 100%;
            margin-top: 24px;
        }
        .pharmacy-title {
            font-size: 2rem;
            color: $color3;
            padding-bottom: 24px;
            font-weight: 500;
            @include sm {
                padding-bottom: 16px;
                font-size: 1.6rem;
            }
        }
        .pharmacy-info {
            font-size: 2rem;
            line-height: 1.5em;
            color: $color3;
            font-weight: 500;
            margin-bottom: 24px;
            @include sm {
                font-size: 1.6rem;
                margin-bottom: 16px;
            }
        }
        .plus {
            padding-top: 8px;
            p {
                margin-top: 16px;
                color: $color3;
                @include sm {
                    margin-top: 8px;
                }
            }
            .google-map {
                @include flex($align: center);
                .google-map-icon {
                    margin-right: 8px;
                }
                .link-icon {
                    margin-right: 8px;
                }
            }
        }
    }
}

// 数字で見るやキャリアプランの目指せる資格で表示されるカード
.info-content {
    @include flex();
    flex-wrap: wrap;
    margin: calc(-8px / 2);
    &__area {
        width: calc(100% / 4 - 8px);
        margin: calc(8px /2);
        &--wrap {
            text-align: center;
            padding: 0 16px;
            position: relative;
            img {
                max-width: 50px;
                margin-bottom: 16px;
                height: 50px;
            }
            .graphics-title {
                padding-bottom: 16px;
            }
            // .graphics-year {
            //     border-top: solid 1px $color3;
            // }
            .graphics-info {
                position: absolute;
                font-size: 1rem;
                right: 8px;
                bottom: 8px;
                font-weight: 500;
                color: $color3;
                line-height: 1.5em;
            }
            .count {
                // opacity: 0;
            }
        }
    }
    .num1 {
        background-color: $color7;
    }
    .num2 {
        background-color: $color5;
    }
}

// インターンシップ
section#intern {
    position: relative;
    z-index: 9;
    .intern-width {
        @include sm {
            padding: 0;
        }
        .intern-area {
            width: 100%;
            background-color: $color5;
            padding: 40px 128px;
            text-align: center;
            position: relative;
            @include sm {
                padding: 40px 16px;
            }
            &__title {
                font-size: 2rem;
                font-weight: 500;
                padding-bottom: 24px;
                color: $color3;
                @include sm {
                    font-size: 1.6rem;
                }
            }
            &__text {
                letter-spacing: 0.08em;
                padding-bottom: 24px;
                text-align: left;
                line-height: 1.5em;
                @include sm {
                    font-size: 1.4rem;
                }
            }
            .intern-info {
                background-color: $color1;
                color: $color3;
                padding: 32px 128px;
                letter-spacing: 0.08em;
                @include lg {
                    padding: 32px 64px;
                }
                @include sm {
                    padding: 32px 72px;
                }
                @include media-max(374px) {
                    padding: 32px 48px;
                }
                &__tel {
                    font-family: din-condensed, sans-serif;
                    font-size: 3.2rem;
                    line-height: 1.2em;
                    padding-bottom: 24px;
                    letter-spacing: 0.06em;
                    @include sm {
                        font-size: 2.4rem;
                    }
                }
                &__person {
                    padding-bottom: 16px;
                    font-size: 1.6rem;
                    font-weight: 500;
                    @include sm {
                        font-size: 1.4rem;
                    }
                }
                &__time {
                    font-size: 1.4rem;
                    padding-bottom: 8px;
                    font-weight: 500;
                }
                &__holiday {
                    font-weight: 500;
                    font-size: 1.4rem;
                }
            }
        }
    }
    .svg-area {
        object-fit: cover;
    }
}

// // リンクのアイコン
.link-icon {
    margin-left: 8px;
    @include sm {
        width: 10px;
        height: 9px;
        margin-left: 4px;
    }
}

section#intern {
    padding: 160px 0 160px 0;
    @include sm {
        padding: 80px 0;
    }
}

// メインビジュアル？
.main-box {
    background-color: $color5;
    width: 100%;
    padding-top: 96px;
    height: calc(240px + 96px);
    @include lg {
        height: calc(200px + 96px);
    }
    @include sm {
        height: calc(120px + 64px);
        padding-top: 64px;
    }
    .main-wrap {
        position: relative;
        .main-title {
            max-width: 240px;
            width: 100%;
            height: 240px;
            background-color: $color3;
            color: $color1;
            position: absolute;
            top: 64px;
            @include flex ($align: center, $justify: center);
            flex-direction: column;
            @include lg {
                width: 200px;
                height: 200px;
            }
            @include sm {
                width: 120px;
                height: 120px;
                top: 40px;
            }
            p {
                font-size: 3.2rem;
                line-height: 1.5em;
                letter-spacing: 0.06em;
                font-family: din-condensed, sans-serif;
                padding-top: 16px;
                @include sm {
                    font-size: 2rem;
                    padding: 0;
                }
            }
            svg {
                max-width: 48x;
                @include sm {
                    max-width: 24px;
                }
            }
        }
    }
}

//svg色設定
.cstm-fill {
    fill: #fff;
}

.cstm-stroke {
    stroke: #fff;
}

//エントリー、お問い合わせページでの注意事項
.entry-text {
    margin-top: 64px;
    @include sm {
        margin-top: 40px;
    }
    &__item {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.hexa-anime {
    @include sm {
        height: 120px;
    }
}

.q {
    font-family: din-condensed, sans-serif;
    padding-right: 16px;
    color: $color3;
    font-size: 3.2rem;
    letter-spacing: 0.06em;
    line-height: 1.5em;
    @include sm {
        padding-right: 8px;
        font-size: 2.4rem;
    }
}