.breadcrumb {
    @include flex();
    justify-content: flex-end;
    padding-top: 43px;
    @include lg {
        width: calc(100% - 240px);
        margin-left: auto;
    }
    @include sm {
        padding-top: 24px;
        width: calc(100% - 136px);
        margin-left: auto;
    }
    .breadcrumb-arrow {
        margin: 0 8px;
        font-size: 1.4rem;
    }
    li {
        font-size: 1.4rem;
        line-height: 1.5em;
        letter-spacing: 0.08em;
        @include flex ();
        @include sm {
            font-size: 1rem
        }
    }
    .bread {
        span {
            @include lines-truncate(1);
        }
    }
}