#career-plan {
    // sectionの余白の取り方が分からなかったので仮で書きました。後で直してください。
    // baseここから--------------------------
    .title-border {
        font-weight: 500;
        @include sm {
            margin-bottom: 40px;
        }
    }
    // ここまで-------------------------------
    .training-system {
        img {
            max-width: 928px;
            @include lg {
                max-width: calc(100% - 64px);
                margin: 0 0 auto 0;
            }
            @include sp {
                max-width: 100%;
                margin: 0;
            }
        }
        // baseここから--------------------------
        .under-content {
            &--area {
                .under-content--text {
                    .text-box {
                        @include sm {
                            padding: 24px;
                        }
                        &__title {
                            @include sm {
                                padding-bottom: 16px;
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
        // ここまで-------------------------------
    }
    .training-flow {
        &__area {
            margin-bottom: 24px;
            @include sm {
                margin-bottom: 16px;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            &--title {
                @include flex(0, center);
                position: relative;
                width: 100%;
                max-width: 992px;
                height: 100px;
                padding: 40px;
                font-size: 2rem;
                letter-spacing: 0.08em;
                line-height: 1.5em;
                color: $color3;
                font-weight: 500;
                background-color: $color5;
                // cursor: pointer;
                @include sm {
                    height: 80px;
                    padding: 24px;
                    font-size: 1.6rem;
                }
                @include sp {
                    padding: 16px;
                }
                span {
                    @include sp {
                        padding-right: 32px;
                    }
                }
                .btn {
                    position: absolute;
                    right: 40px;
                    width: 16px;
                    height: 16px;
                    @include sm {
                        right: 32px;
                    }
                    @include sp {
                        right: 8px;
                    }
                    &::before,
                    &::after {
                        display: block;
                        content: '';
                        background-color: $color3;
                        position: absolute;
                        width: 16px;
                        height: 4px;
                        top: 50%;
                        left: 50%;
                        transition: 0.5s;
                        transform: translate(-50%, -50%);
                    }
                    &::before {
                        width: 4px;
                        height: 16px;
                        top: 50%;
                        left: 50%;
                        transition: 0.5s;
                        transform: translate(-50%, -50%);
                    }
                }
                &.active {
                    .btn {
                        &::before {
                            top: 0;
                            left: 35%;
                            transform: rotate(-270deg);
                            transition: 0.5s;
                        }
                    }
                }
            }
            &--box {
                padding: 40px;
                border: 2px solid $color5;
                background-color: $color1;
                display: none;
                @include sm {
                    padding: 24px;
                }
                @include sp {
                    padding: 16px;
                }
                img {
                    max-width: 848px;
                    @include lg {
                        max-width: calc(100% - 64px);
                        margin: 0 0 auto 0;
                    }
                    @include sp {
                        max-width: 100%;
                        margin: 0;
                    }
                }
                .under-content {
                    &--area {
                        .under-content--text {
                            max-width: 846px;
                            .text-box {
                                @include sm {
                                    padding: 32px;
                                }
                                @include sp {
                                    padding: 24px;
                                }
                                &__text {
                                    @include sp {
                                        font-size: 1.4rem;
                                    }
                                }
                                &__title {
                                    padding-top: 24px;
                                    padding-bottom: 0;
                                    text-align: right;
                                    @include sm {
                                        padding-top: 16px;
                                        font-size: 1.8rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .areabox {
                display: block;
            }
        }
    }
    .qualification {
        .info-content {
            &__area {
                @include lg {
                    width: calc(100% / 2 - 8px);
                }
                @include sp {
                    width: 100%;
                }
                // baseここから--------------------------
                &--wrap {
                    padding: 36px 16px;
                    @include sm {
                        padding: 24px 16px;
                    }
                    img {
                        @include sp {
                            max-width: 40px;
                        }
                    }
                    // ここまで-------------------------------
                    .graphics-title {
                        color: $color3;
                        font-size: 1.6rem;
                        letter-spacing: 0.08em;
                        line-height: 1.5em;
                        font-weight: 500;
                        border-bottom: solid 1px $color3;
                        padding-bottom: 16px;
                        @include sp {
                            font-size: 1.4rem;
                        }
                    }
                    .graphics-year {
                        padding-top: 16px;
                        color: $color3;
                        position: relative;
                        display: inline-block;
                        @include sp {
                            font-size: 1.4rem;
                        }
                        .counted {
                            font-size: 4rem;
                            line-height: 1.5em;
                            letter-spacing: 0.1em;
                            color: $color3;
                            font-family: din-condensed, sans-serif;
                            @include sm {
                                font-size: 3.2rem;
                            }
                        }
                        .unit {
                            position: absolute;
                            bottom: 13px;
                            white-space: nowrap;
                            margin-left: 4px;
                            @include sm {
                                bottom: 10px;
                            }
                        }
                    }
                }
            }
            &:nth-child(odd) {
                .info-content__area {
                    &:nth-child(odd) {
                        background-color: $color7;
                    }
                    &:nth-child(even) {
                        background-color: $color5;
                    }
                    @include sm {
                        &:nth-child(1),
                        &:nth-child(3) {
                            background-color: $color5;
                        }
                        &:nth-child(2),
                        &:nth-child(4) {
                            background-color: $color7;
                        }
                    }
                }
            }
            &:nth-child(even) {
                padding-top: 4px;
                .info-content__area {
                    &:nth-child(odd) {
                        background-color: $color5;
                    }
                    &:nth-child(even) {
                        background-color: $color7;
                    }
                    @include sm {
                        &:nth-child(1),
                        &:nth-child(3) {
                            background-color: $color5;
                        }
                        &:nth-child(2),
                        &:nth-child(4) {
                            background-color: $color7;
                        }
                    }
                }
            }
        }
        .annotation {
            padding-top: 16px;
            text-align: right;
            @include sm {
                font-size: 1.4rem;
            }
        }
    }
}

.block-revealer__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0;
}

.dummy-num {}