#contact {
    .entry-text {
        margin-top: 0;
    }
    .contact-form {
        .wpcf7-form {
            &__item {}
        }
        .wpcf7-list-item {
            margin: 8px 40px 0 0;
            @include sm {
                margin: 8px 16px 0 0;
            }
        }
        .wpcf7-form-control-wrap {
            display: block;
        }
        .wpcf7-form-control.wpcf7-checkbox {
            display: flex;
            flex-wrap: wrap;
            margin-top: 8px;
        }
        span.wpcf7-list-item {
            position: relative;
        }
        .wpcf7-list-item-label {
            /*項目の色や文字サイズ*/
        }
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            /*既存のチェックボックスを見えなくする*/
        }
        .wpcf7-list-item-label:before {
            /*チェックボックスの枠*/
            content: '';
            border: 1px solid $color3;
            display: inline-block;
            width: 16px;
            height: 16px;
            position: relative;
            top: -2px;
            margin-right: 8px;
            vertical-align: middle;
            text-align: center;
            @include sm {
                width: 12px;
                height: 12px;
            }
        }
        input[type="checkbox"]:checked+.wpcf7-list-item-label:after {
            /*チェックアイコン*/
            content: "";
            display: block;
            position: absolute;
            top: 4px;
            left: 3px;
            width: 15px;
            height: 10px;
            transform: rotate(-45deg);
            border-bottom: 3px solid;
            border-left: 3px solid;
            border-color: $color3;
            @include sm {
                top: 1px;
                width: 14px;
                height: 8px;
                left: 1px;
            }
        }
        .agree-button {
            .wpcf7-list-item {
                margin: 0;
                input[type="checkbox"]:checked~.wpcf7-list-item-label:after {
                    top: 12px;
                    @include sm {
                        top: 9px;
                    }
                }
            }
        }
    }
}