#entry,
#contact {
    .double-card {
        margin-top: -64px;
        padding: 0;
        @include sm {
            margin-top: 0;
        }
    }
    .contact-form {
        padding: 64px 0 0 0;
        @include sm {
            padding: 40px 0 0 0;
        }
        .cf7 {}
        .wpcf7-form {
            &__item {
                border-bottom: solid 1px $color5;
                padding-bottom: 8px;
                display: block;
                width: 100%;
                margin-bottom: 24px;
                padding-left: 24px;
                @include sm {
                    margin-bottom: 16px;
                    padding-left: 16px;
                }
                &--name {
                    color: $color3;
                    font-weight: 500;
                }
                .required {
                    margin-left: 24px;
                    @include sm {
                        margin-left: 16px;
                    }
                }
                .wpcf7-form-control-wrap {
                    display: block;
                }
                .wpcf7-acceptance {
                    margin: 16px 40px 0px 0;
                }
                .wpcf7-text,
                .wpcf7-textarea {
                    margin-top: 16px;
                    letter-spacing: 0.08em;
                    line-height: 1.5em;
                    @include sm {
                        margin-top: 8px;
                    }
                    &::placeholder {
                        color: $color9;
                    }
                }
                .wpcf7-textarea {
                    width: 100%;
                    height: 184px;
                    @include sm {
                        height: 160px;
                    }
                }
            }
        }
        .wpcf7-radio {
            .wpcf7-list-item {
                margin: 16px 40px 0 0;
                @include sm {
                    margin: 8px 16px 0 0;
                }
            }
        }
        .text-area {
            padding-bottom: 0;
        }
        .policy-area {
            margin-top: 40px;
            padding: 40px 0 40px 40px;
            background-color: $color5;
            @include sm {
                padding: 24px 0 24px 24px;
            }
            &__text {
                height: 264px;
                overflow-y: scroll;
                padding-right: 40px;
                @include sm {
                    padding-right: 24px;
                }
                p {
                    padding-bottom: 16px;
                }
            }
            .personal-information {
                margin-bottom: 24px;
                padding: 0;
            }
             ::-webkit-scrollbar {
                width: 6px;
                height: 100px;
            }
             ::-webkit-scrollbar-thumb {
                background: $color3;
                border-radius: 5px;
            }
        }
        .wpcf7-submit {
            color: $color3;
            border: solid 1px $color3;
            transition: 0.3s;
            font-weight: 500;
            max-width: 288px;
            width: 100%;
            height: 56px;
            text-align: center;
            @include sm {
                max-width: 200px;
                height: 40px;
            }
        }
        .ajax-loader {
            display: none;
        }
        .submit-button {
            @include flex($justify: center);
        }
    }
}

.radio {
    .wpcf7-form-control-wrap {
        display: block;
    }
    span.wpcf7-list-item {
        position: relative;
    }
    .wpcf7-list-item-label {
        color: $color4;
        // cursor: pointer;
    }
    input[type="radio"] {
        position: absolute;
        opacity: 0;
    }
    .wpcf7-list-item-label:before {
        content: '';
        border-radius: 100%;
        border: 1px solid $color4;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: -2px;
        margin-right: 7px;
        vertical-align: middle;
        // cursor: pointer;
        text-align: center;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        @include sm {
            width: 12px;
            height: 12px;
        }
    }
    input[type="radio"]:checked+.wpcf7-list-item-label:before {
        background-color: $color3;
        box-shadow: inset 0 0 0 2px $color1;
        @include sm {
            box-shadow: inset 0 0 0 1px $color1;
        }
    }
}

//同意するボタンのスタイル↓↓↓↓↓↓↓↓↓↓
.agree-button {
    text-align: center;
    padding: 40px 0;
    //チェックボックスのスタイル↓↓↓↓↓↓↓↓↓↓
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        /*既存のチェックボックスを見えなくする*/
    }
    .wpcf7-list-item-label:before {
        /*チェックボックスの枠*/
        content: "";
        border: 1px solid $color3;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: -2px;
        margin-right: 8px;
        vertical-align: middle;
        // cursor: pointer;
        text-align: center;
        @include sm {
            width: 12px;
            height: 12px;
        }
    }
    input[type="checkbox"]:checked~.wpcf7-list-item-label:after {
        // チェックボックスクリック
        content: "";
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 18px;
        height: 9px;
        margin-top: -8px;
        top: 50%;
        left: 16px;
        transform: rotate(-45deg);
        border-bottom: 3px solid;
        border-left: 3px solid;
        border-color: $color3;
        @include sm {
            left: 13px;
            width: 14px;
        }
    }
}