#faq {
    // sectionの余白の取り方が分からなかったので仮で書きました。後で直してください。
    // baseここから--------------------------
    .title-border {
        font-weight: 500;
        @include sm {
            margin-bottom: 40px;
        }
    }
    // ここまで-------------------------------
    .job-faq {
        &__content {
            padding-bottom: 24px;
            @include sm {
                padding-bottom: 16px;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
            &--title {
                @include flex(0, center);
                position: relative;
                width: 100%;
                max-width: 992px;
                height: 108px;
                padding: 32px 40px;
                font-size: 2rem;
                line-height: 1.5em;
                color: $color3;
                font-weight: 500;
                background-color: $color5;
                // cursor: pointer;
                @include sm {
                    height: 80px;
                    padding: 24px;
                    font-size: 1.6rem;
                }
                @include sp {
                    padding: 16px;
                }
                span {
                    @include sp {
                        padding-right: 32px;
                    }
                }
                .btn {
                    position: absolute;
                    right: 40px;
                    width: 16px;
                    height: 16px;
                    @include sm {
                        right: 32px;
                    }
                    @include sp {
                        right: 8px;
                    }
                    &::before,
                    &::after {
                        display: block;
                        content: '';
                        background-color: $color3;
                        position: absolute;
                        width: 16px;
                        height: 4px;
                        top: 50%;
                        left: 50%;
                        transition: 0.5s;
                        transform: translate(-50%, -50%);
                    }
                    &::before {
                        width: 4px;
                        height: 16px;
                        transition: 0.5s;
                    }
                }
                &.active {
                    .btn {
                        &::before {
                            top: 0;
                            left: 35%;
                            transform: rotate(-270deg);
                            transition: 0.5s;
                        }
                    }
                }
            }
            &--text {
                padding: 40px;
                border: 2px solid $color5;
                background-color: $color1;
                display: none;
                @include sm {
                    padding: 24px;
                }
                @include sp {
                    padding: 16px;
                    font-size: 1.4rem;
                }
            }
            .content_open {
                display: block;
            }
            .faq-link {
                color: $color3;
                text-decoration: underline;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}