footer {
    padding-top: 160px;
    background-color: $color8;
    color: $color3;
    @include sm {
        padding-top: 56px;
    }
    .footer-area {
        @include flex ();
        @include sm {
            display: none;
        }
        &__corporate {
            margin-right: 40px;
            &--title {
                font-size: 3.2rem;
                line-height: 1.2em;
                font-family: din-condensed, sans-serif;
                letter-spacing: 0.06em;
            }
            &--links {
                li {
                    font-size: 1.4rem;
                    line-height: 1.5em;
                    letter-spacing: 0.08em;
                    font-weight: 500;
                    padding-top: 8px;
                }
            }
        }
        &__buttons {
            margin-left: auto;
            a {
                @include flex ($align: center, $justify: center);
                width: 288px;
                border: solid 1px $color3;
                height: 56px;
                margin-bottom: 24px;
                font-weight: 500;
                transition: 0.3s;
                &:hover {
                    background-color: $color3;
                    color: $color1;
                }
                &:hover .link-k-1 {
                    stroke: $color1;
                }
                svg {
                    margin-left: 8px;
                }
            }
        }
    }
    .footer-nav {
        margin-top: 56px;
        text-align: center;
        @include sm {
            margin: 0;
        }
        img {
            max-width: 249px;
            margin-bottom: 24px;
        }
        &__info {
            margin-bottom: 8px;
            font-size: 1.4rem;
            line-height: 1.5em;
            letter-spacing: 0.08em;
            font-weight: 500;
            @include sm {
                font-size: 1.2rem;
            }
        }
        &__buttons {
            margin-top: 24px;
            @include flex ($justify: center);
            padding-bottom: 160px;
            @include sm {
                padding-bottom: 80px;
                flex-direction: column;
                align-items: center;
            }
            a {
                @include flex ($align: center, $justify: center);
                width: 200px;
                border: solid 1px $color3;
                height: 40px;
                font-weight: 500;
                transition: 0.3s;
                &:hover {
                    background-color: $color3;
                    color: $color1;
                }
                &:hover .link-k-1 {
                    stroke: $color1;
                }
                svg {
                    margin-left: 8px;
                    @include sm {
                        margin-left: 4px;
                    }
                }
            }
            .ml {
                margin: 0 24px;
                @include sm {
                    margin: 16px 0;
                }
            }
        }
    }
    .footer-copy {
        text-align: center;
        width: 100%;
        background-color: $color3;
        color: $color1;
        font-size: 1.2rem;
        line-height: 1.75em;
        letter-spacing: 0.08em;
        font-weight: 500;
        padding: 9px 0 10px 0;
        .page-width {
            position: relative;
        }
        #page-top {
            position: absolute;
            background-color: $color5;
            width: 40px;
            height: 40px;
            @include flex ($align: center, $justify: center);
            bottom: -10px;
            right: 16px;
            @include lg {
                bottom: 30px;
                right: 0px;
            }
        }
    }
}