.hexa-wrap {
    position: relative;
    // img {
    //     @include lg {
    //         height: 600px;
    //         object-fit: cover;
    //         object-position: 30%;
    //     }
    //     @include sp {
    //         height: 464px;
    //         object-position: 35% 50%;
    //     }
    // }
    .main-visual-box {
        .main-visual {
            background-size: cover;
            background-position: center center;
            padding-top: 56.25%;
            width: 100%;
            @include lg {
                padding-top: 70%;
            }
            @include md {
                background-position: 30%;
                height: 600px;
            }
            @include sp {
                background-position: 35% 50%;
                height: 464px;
            }
        }
    }
    .hexa-anime {
        width: 100%;
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: 100;
        @include sp {
            height: 300px
        }
    }
    .main-text {
        @include absoluteCenter;
        text-align: center;
        font-weight: 600;
        color: $color1;
        font-size: 3.2rem;
        line-height: 1.5em;
        width: 100%;
        letter-spacing: 0.08em;
        @include sm {
            font-size: 2rem;
            top: 56%;
        }
    }
    .main-news {
        position: absolute;
        bottom: 0;
        z-index: 1000;
        @include sm {
            width: 100%;
            bottom: -76px;
        }
        li {
            display: flex;
            @include sm {
                flex-direction: column;
            }
            .tag {
                color: $color1;
                background-color: $color3;
                font-family: din-condensed, sans-serif;
                padding: 0 24px;
                font-size: 2.4rem;
                letter-spacing: 0.06em;
                height: 64px;
                display: flex;
                align-items: center;
                @include sm {
                    font-size: 1.6rem;
                    height: 36px;
                    max-width: 120px;
                    padding: 0 42px;
                }
            }
            a {
                background-color: $color1;
                height: 64px;
                display: flex;
                align-items: center;
                padding: 0 24px;
                @include sm {
                    padding: 16px 16px;
                    flex-direction: column;
                    align-items: flex-start;
                    height: auto;
                    font-size: 1.4rem;
                }
                .news-box {
                    @include flex ();
                    @include sm {
                        @include flex ();
                    }
                }
                .main-news-date,
                .main-news-cat {
                    color: $color3;
                    margin-right: 16px;
                    white-space: nowrap;
                    font-weight: 500;
                    @include md {
                        margin-right: 8px;
                    }
                }
                .main-news-title {
                    @include lines-truncate(1);
                    max-width: 480px;
                    width: 100%;
                    @include sm {
                        @include lines-truncate(2);
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}

main.front {
    section#front-01,
    section#front-02 {
        position: relative;
        z-index: 9;
        article.front-button {
            .front-content {
                text-align: right;
                img {
                    position: relative;
                    transition: 0.3s;
                }
                .front-image {
                    position: relative;
                    .img-wrap {
                        max-width: 928px;
                        overflow: hidden;
                        margin-left: auto;
                        background-color: $color3;
                        position: relative;
                        top: 64px;
                        @include lg {
                            margin-left: 64px;
                        }
                        @include sm {
                            top: 24px;
                            margin-left: 24px;
                        }
                        .img-left {
                            background-size: cover;
                            background-position: center center;
                            padding-top: 55%;
                            width: 100%;
                        }
                        .img-right {
                            background-size: cover;
                            background-position: center center;
                            padding-top: 55%;
                            width: 100%;
                        }
                    }
                    .front-title {
                        background-color: $color3;
                        text-align: center;
                        max-width: 240px;
                        width: 100%;
                        height: 240px;
                        color: $color1;
                        position: absolute;
                        z-index: 9;
                        transition: 0.3s;
                        @include flex ($justify: center, $align: center, $column: 1);
                        @include sm {
                            max-width: 120px;
                            height: 120px;
                        }
                        .front-title-text {
                            padding-top: 16px;
                            font-family: din-condensed, sans-serif;
                            font-style: normal;
                            font-size: 3.2rem;
                            transition: 0.3s;
                            line-height: 1.5em;
                            @include sm {
                                font-size: 2rem;
                                padding-top: 8px;
                            }
                        }
                        .front-title-icon {
                            @include sm {
                                max-width: 25px;
                                height: 25px;
                            }
                            svg {
                                @include sm {
                                    max-width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                    }
                    .front-text {
                        font-size: 2rem;
                        background-color: $color6;
                        padding: 40px;
                        max-width: 496px;
                        width: 100%;
                        text-align: center;
                        margin-left: auto;
                        position: absolute;
                        bottom: -64px;
                        right: 0;
                        font-weight: 500;
                        transition: 0.3s;
                        letter-spacing: 0.08em;
                        line-height: 1.5em;
                        @include sm {
                            font-size: 1.4rem;
                            padding: 0 16px;
                            font-weight: 500;
                            max-width: 278px;
                            bottom: -24px;
                            height: 57px;
                            @include flex ($align: center, $justify: center);
                        }
                    }
                }
            }
            a {
                &:hover img {
                    transform: scale(1.1);
                    transition-duration: 0.5s;
                    opacity: 0.84;
                }
                &:hover .front-title-text {
                    color: $color3;
                }
                &:hover .front-title {
                    background-color: $color12!important;
                }
                &:hover .cstm-fill {
                    fill: $color3!important;
                }
                &:hover .cstm-stroke {
                    stroke: $color3!important;
                }
                &:hover .cstm-fill-w {
                    fill: $color1!important;
                }
                &:hover .front-text {
                    color: $color1;
                    background-color: $color11!important;
                }
            }
        }
        article.front-button-r {
            .front-content {
                text-align: left;
                img {
                    position: relative;
                    transition: 0.3s;
                }
                .front-image {
                    position: relative;
                    .img-wrap {
                        max-width: 928px;
                        overflow: hidden;
                        background-color: $color3;
                        position: relative;
                        top: 64px;
                        @include lg {
                            margin-right: 64px;
                        }
                        @include sm {
                            top: 24px;
                            margin-right: 24px;
                        }
                        .img-right {
                            background-size: cover;
                            background-position: center center;
                            padding-top: 55%;
                            width: 100%;
                        }
                    }
                    .front-title {
                        background-color: $color3;
                        text-align: center;
                        max-width: 240px;
                        width: 100%;
                        height: 240px;
                        color: $color1;
                        position: absolute;
                        right: 0;
                        z-index: 9;
                        @include flex ($justify: center, $align: center, $column: 1);
                        transition: 0.3s;
                        @include sm {
                            max-width: 120px;
                            height: 120px;
                        }
                        .front-title-text {
                            padding-top: 16px;
                            font-family: din-condensed, sans-serif;
                            font-size: 3.2rem;
                            transition: 0.3s;
                            font-style: normal;
                            line-height: 1.5em;
                            @include sm {
                                font-size: 2rem;
                                padding-top: 8px;
                            }
                        }
                        .front-title-icon {
                            @include sm {
                                max-width: 25px;
                                height: 25px;
                            }
                            svg {
                                @include sm {
                                    max-width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                    }
                    .front-text {
                        font-size: 2rem;
                        background-color: $color6;
                        padding: 40px;
                        max-width: 496px;
                        width: 100%;
                        text-align: center;
                        margin-right: auto;
                        position: absolute;
                        bottom: -64px;
                        left: 0;
                        line-height: 1.5em;
                        transition: 0.3s;
                        font-weight: 500;
                        letter-spacing: 0.08em;
                        @include sm {
                            font-size: 1.4rem;
                            padding: 0 16px;
                            max-width: 278px;
                            font-weight: 500;
                            bottom: -24px;
                            height: 57px;
                            @include flex ($align: center, $justify: center);
                        }
                    }
                }
            }
            a {
                &:hover img {
                    transform: scale(1.1);
                    opacity: 0.84;
                    transition-duration: 0.5s;
                }
                &:hover .front-title-text {
                    color: $color3;
                }
                &:hover .front-title {
                    background-color: $color12!important;
                }
                &:hover .cstm-fill {
                    fill: $color3!important;
                }
                &:hover .cstm-stroke {
                    stroke: $color3!important;
                }
                &:hover .cstm-fill-w {
                    fill: $color1!important;
                }
                &:hover .front-text {
                    color: $color1;
                    background-color: $color11!important;
                }
            }
        }
        .front-pt {
            padding: 224px 0 0 0;
            @include sm {
                padding: 104px 0 0 0;
            }
        }
        .front-pt2 {
            padding: 160px 0 0 0;
            @include sm {
                padding: 80px 0 0 0;
            }
        }
    }
    section#front-01 {
        background-color: $color5;
        padding-bottom: calc(64px + 160px);
        @include sm {
            padding-bottom: 104px;
            padding-top: calc(76px + 80px);
        }
        .corporate {
            @include sm {
                padding: 0;
            }
        }
    }
    section#front-02 {
        background-color: $color1;
        .recruit {
            @include sm {
                padding: 0;
            }
        }
        .double-card {
            padding-top: 160px;
            @include sm {
                padding-top: 80px;
            }
        }
    }
}