header {
    position: fixed;
    height: 96px;
    max-width: 100%;
    width: 100%;
    z-index: 1001;
    @include sm {
        height: 64px;
    }
    .header-flex {
        padding-left: 16px;
        background-color: $color6;
        @include flex ($align: center);
        img {
            max-width: 314px;
            width: 314px;
            @include sm {
                width: 38px;
            }
        }
        .visit {
            background-color: $color5;
            width: 96px;
            height: 96px;
            margin-left: auto;
            @include flex ($align: center, $justify: center);
            font-family: din-condensed, sans-serif;
            font-size: 2.4rem;
            line-height: 1.5em;
            letter-spacing: 0.06em;
            color: $color3;
            @include sm {
                width: 64px;
                height: 64px;
                font-size: 1.6rem;
            }
        }
        .entry {
            width: 96px;
            height: 96px;
            background-color: $color4;
            color: $color1;
            margin-left: auto;
            @include flex ($align: center, $justify: center);
            font-family: din-condensed, sans-serif;
            font-size: 2.4rem;
            line-height: 1.5em;
            letter-spacing: 0.06em;
            @include sm {
                width: 64px;
                height: 64px;
                font-size: 1.6rem;
            }
        }
    }
}


/*　ハンバーガーボタン　*/

.hamburger {
    display: block;
    position: relative;
    z-index: 2000;
    right: 0;
    top: 0;
    width: 96px;
    height: 96px;
    // cursor: pointer;
    text-align: center;
    background-color: $color3;
    @include sm {
        width: 64px;
        height: 64px;
    }
}

.hamburger span {
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    left: 28px;
    background: $color1;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    @include sm {
        width: 24px;
        left: 20px;
        height: 1px;
    }
}

.hamburger span:nth-child(1) {
    top: 43px;
    @include sm {
        top: 29px;
    }
}

.hamburger span:nth-child(2) {
    top: 50px;
    @include sm {
        top: 34px;
    }
}


/* ナビ開いてる時のボタン */

.hamburger.active span:nth-child(1) {
    top: 48px;
    left: 32px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
    @include sm {
        top: 32px;
        left: 20px;
    }
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 48px;
    left: 32px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
    @include sm {
        top: 32px;
        left: 20px;
    }
}

nav.globalMenuSp {
    position: absolute;
    z-index: -5;
    top: 0;
    right: 0;
    color: $color1;
    background: $color3;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    max-width: 476px;
    width: 100%;
    height: calc(100vh - 96px);
    padding: 64px;
    overflow-y: scroll;
    @include sm {
        max-width: 320px;
        padding: 32px;
        height: calc(100% - 64px);
    }
    &::-webkit-scrollbar {
        width: 6px;
        height: 100px;
    }
    &::-webkit-scrollbar-thumb {
        background: $color3;
        border-radius: 5px;
    }
}

nav.globalMenuSp .menu-item {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    max-width: 476px;
    width: 100%;
}

.menu-items {
    &__corporate {
        padding-top: 24px;
        text-align: left;
        padding-left: 40px;
        @include sm {
            padding-left: 24px;
        }
        &--title {
            font-size: 3.2rem;
            font-family: din-condensed, sans-serif;
            line-height: 1.2em;
            @include sm {
                font-size: 2rem;
            }
        }
        .items-box {
            &__item {
                padding-top: 16px;
                letter-spacing: 0.08em;
                font-weight: 500;
                white-space: nowrap;
                @include sm {
                    white-space: unset;
                }
            }
        }
    }
    &__logo {
        padding-bottom: 8px;
        @include sm {
            text-align: left;
        }
        img {
            @include sm {
                max-width: 198px;
            }
        }
    }
    &__buttons {
        padding-top: 16px;
        &--btn {
            margin-top: 24px;
            max-width: 288px;
            width: 100%;
            height: 56px;
            @include flex ($align: center, $justify: center);
            border: solid 1px $color1;
            font-weight: 500;
            transition: 0.3s;
            &:hover {
                border: solid 1px $color3;
                color: $color3;
                background-color: $color1;
            }
            &:hover .clsa-1 {
                stroke: $color3;
            }
            @include sm {
                max-width: 200px;
                height: 40px;
                margin-top: 16px;
            }
            .link-icon {
                @include sm {
                    width: 10px;
                    height: 9px;
                }
            }
        }
    }
}


/* このクラスを、jQueryで付与・削除する */

nav.globalMenuSp.active {
    top: 100vh;
    height: calc(100vh - 96px);
    @include sm {
        height: calc(100vh - 64px);
    }
}

// 内部アコーディオン
.ac-parent {
    position: relative;
    /* 追加 */
    // cursor: pointer;
}


/* ①プラスの横線 */

.ac-parent:before {
    content: "";
    position: absolute;
    top: 47%;
    left: -40px;
    width: 24px;
    height: 4px;
    background: $color1;
    transform: translateY(-50%);
    @include sm {
        height: 2px;
        left: -24px;
    }
}

.menu-items__corporate--title {
    &:before {
        @include sm {
            width: 16px;
        }
    }
}

.ac-child {
    display: none;
}


/* ②プラスの縦線 */

.ac-parent:after {
    content: "";
    position: absolute;
    top: 47%;
    /* 8px+12px-1px(幅2pxの半分) */
    left: -30px;
    width: 4px;
    height: 24px;
    background: $color1;
    transform: translateY(-50%);
    transition: .3s;
    @include sm {
        width: 2px;
        height: 16px;
        left: -17px;
    }
}


/* ③オープン時にopenクラスを付与（縦線を回転させて非表示に） */

.ac-parent.open:after {
    top: 25%;
    opacity: 0;
    transform: rotate(180deg);
}