@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
    @return $randomNum;
}

.hexa-anime path {
    fill-opacity: 0;
    /*最初は透過0で見えない状態*/
    stroke-opacity: 0;
    /*最初は透過0で見えない状態*/
    // transition: 2s ease-in;
    /*カラーがつく際のアニメーション0.5秒で変化*/
    fill: none;
    /*塗りがない状態*/
    stroke: none;
    /*線の色*/
}

@for $i from 1 through 65 {
    .hexa-anime.done {
        .animation#{$i} {
            fill-opacity: 1;
            stroke-opacity: random();
            transition: random(4) + s;
            &.cls-4 {
                fill: $color1;
            }
            &.cls-5 {
                fill: $color5;
            }
            &.clss-4 {
                fill: $color3 !important;
            }
            &.clsss-3 {
                fill: $color1 !important;
            }
            // &.clsss-4 {
            //     fill: #82ccb1 !important;
            // }
        }
    }
}

@for $j from 1 through 65 {
    .rmd-animation#{$j} {
        animation-name: change;
        animation-duration: #{randomNum(3,6)}s;
        animation-iteration-count: infinite;
    }
}

@for $k from 1 through 65 {
    .rmd-animation-high#{$k} {
        animation-name: change;
        animation-duration: #{randomNum(2,4)}s;
        animation-iteration-count: infinite;
    }
}

@keyframes change {
    0% {
        fill-opacity: 1;
    }
    50% {
        fill-opacity: 0.3;
    }
}

@keyframes reverse4 {
    0% {
        fill: $color1;
    }
    50% {
        fill: $color5;
    }
}

@keyframes reverse5 {
    0% {
        fill: $color5;
    }
    50% {
        fill: $color1;
    }
}