#ict {
    // sectionの余白の取り方が分からなかったので仮で書きました。後で直してください。
    // baseここから--------------------------
    .title-border {
        font-weight: 500;
        @include sm {
            margin-bottom: 40px;
        }
    }
    .under-content {
        &--area {
            .under-content--text {
                @include sp {
                    margin-top: 0;
                }
                .text-box {
                    @include sp {
                        padding: 24px 16px;
                    }
                    &__title {
                        @include sm {
                            padding-bottom: 16px;
                            font-size: 1.6rem;
                        }
                    }
                    &__text {
                        @include sm {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
    // ここまで-------------------------------
    .equipment {
        &__content {
            @include flex(between, start);
            padding-bottom: 64px;
            @include sm {
                display: block;
                padding-bottom: 40px;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
            &--left {
                width: 100%;
                max-width: 376px;
                @include sm {
                    margin: 0 auto;
                    padding-bottom: 32px;
                }
            }
            &--right {
                width: 100%;
                max-width: 576px;
                margin-left: 40px;
                @include sm {
                    margin: 0 auto;
                }
                .title {
                    padding-bottom: 24px;
                    color: $color3;
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: 0.08em;
                    line-height: 1.5em;
                    @include sm {
                        padding-bottom: 16px;
                        font-size: 1.6rem;
                    }
                }
                .text {
                    @include sm {
                        font-size: 1.4rem;
                    }
                }
                a {
                    @include flex(start, center);
                    position: relative;
                    margin-top: 24px;
                    padding-left: 32px;
                    color: $color3;
                    font-weight: 500;
                    @include sm {
                        margin-top: 16px;
                    }
                    &::before {
                        position: absolute;
                        top: 50%;
                        width: 16px;
                        height: 4px;
                        content: '';
                        border-bottom: solid 4px $color3;
                        left: 0;
                    }
                    img {
                        max-width: 14px;
                        margin-left: 8px;
                    }
                    svg {
                        margin-left: 8px;
                        @include sm {
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }
}