main#infograph {
    .info-content {
        @include flex();
        flex-wrap: wrap;
        margin: calc(-8px / 2);
        &__area {
            width: calc(100% / 4 - 8px);
            margin: calc(8px /2);
            &:nth-child(odd) {
                background-color: $color7;
            }
            &:nth-child(even) {
                background-color: $color5;
            }
            @include lg {
                width: calc(100% / 2 - 8px);
            }
            @include sp {
                width: 100%;
            }
            &--wrap {
                text-align: center;
                padding: 40px 16px;
                img {
                    max-width: 50px;
                    margin-bottom: 16px;
                }
                .graphics-title {
                    padding-bottom: 16px;
                    border-bottom: solid 1px $color3;
                    color: $color3;
                    font-weight: 500;
                }
                .graphics-num {
                    padding-top: 16px;
                    @include flex ($align: center, $justify: center);
                    color: $color3;
                    display: inline-block;
                    position: relative;
                }
                .counted {
                    // opacity: 0;
                    font-size: 4rem;
                    line-height: 1.5em;
                    letter-spacing: 0.1em;
                    color: $color3;
                    font-family: din-condensed, sans-serif;
                    // margin-right: 8px;
                    @include sm {
                        font-size: 3.2rem;
                    }
                }
                .unit {
                    position: absolute;
                    bottom: 13px;
                    white-space: nowrap;
                    margin-left: 4px;
                    @include sm {
                        bottom: 10px;
                    }
                }
                .hiritu {
                    margin: 0 8px;
                }
            }
        }
        &:nth-child(odd) {
            .info-content__area {
                &:nth-child(odd) {
                    background-color: $color7;
                }
                &:nth-child(even) {
                    background-color: $color5;
                }
                @include lg {
                    &:nth-child(1),
                    &:nth-child(4) {
                        background-color: $color5;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        background-color: $color7;
                    }
                }
                @include sp {
                    &:nth-child(2),
                    &:nth-child(4) {
                        background-color: $color5;
                    }
                    &:nth-child(1),
                    &:nth-child(3) {
                        background-color: $color7;
                    }
                }
            }
        }
        &:nth-child(even) {
            padding: 4px 0;
            .info-content__area {
                &:nth-child(odd) {
                    background-color: $color5;
                }
                &:nth-child(even) {
                    background-color: $color7;
                }
                @include lg {
                    &:nth-child(1),
                    &:nth-child(4) {
                        background-color: $color5;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        background-color: $color7;
                    }
                }
                @include sp {
                    &:nth-child(2),
                    &:nth-child(4) {
                        background-color: $color5;
                    }
                    &:nth-child(1),
                    &:nth-child(3) {
                        background-color: $color7;
                    }
                }
            }
        }
    }
}