section#news {
    .side-content {
        @include flex();
        justify-content: space-between;
        @include lg {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        .news-area {
            max-width: 765px;
            width: 100%;
            .up_news {
                @include flex ();
                padding: 16px 24px;
                border-bottom: solid 1px $color5;
                @include sp {
                    flex-direction: column;
                    padding: 8px 0;
                }
                &:first-child {
                    border-top: solid 1px $color5;
                }
                .article {
                    &__option {
                        @include flex ();
                        color: $color3;
                        font-weight: 500;
                        &--time {
                            padding-right: 16px;
                        }
                        &--category {
                            padding-right: 24px;
                            white-space: nowrap
                        }
                    }
                    &__title {
                        @include sp {
                            margin-top: 8px;
                        }
                        a {
                            @include lines-truncate(1);
                        }
                    }
                }
            }
        }
    }
    .side-nav {
        margin-right: 40px;
        margin-left: 40px;
        @include lg {
            margin-bottom: 40px;
            margin-left: 0;
            @include flex();
        }
        .ac-parent:after {
            left: 10px;
            top: 50%;
            background: $color5;
            width: 4px;
            height: 24px;
            left: 10px;
        }
        .side-nav-category {
            @include lg {
                margin-right: 40px;
            }
        }
        h3.title-border {
            margin: 0;
            font-family: din-condensed, sans-serif;
            padding: 0 0 0 40px;
            line-height: 1.2em;
            letter-spacing: 0.06em;
            font-size: 3.2rem;
            color: $color3;
            @include sm {
                font-size: 2rem;
            }
            &:before {
                border-bottom: solid 4px $color5;
                top: calc(50% - 3px);
            }
            &:after {
                @include sm {
                    width: 4px;
                    height: 24px;
                    left: 10px;
                }
            }
        }
        .category,
        .year {
            ul {
                padding-left: 40px;
                li {
                    margin-top: 16px;
                    color: $color3;
                    font-size: 1.6rem;
                    line-height: 1.5em;
                    letter-spacing: 0.08em;
                    @include sm {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .year {
            margin-top: 40px;
            @include lg {
                margin-top: 0;
            }
        }
    }
}