#single {
    .single-news {
        .side-content {
            .news-area {
                @include sm {
                    margin-right: 0;
                }
                .single-content {
                    &__time {
                        font-size: 1.6rem;
                        font-weight: 600;
                        line-height: 1.5em;
                        letter-spacing: 0.08em;
                        color: $color3;
                        margin-bottom: 8px;
                        @include sm {
                            font-size: 1.4rem;
                        }
                        .single-category {
                            margin-left: 24px;
                        }
                    }
                    &__title {
                        font-size: 2.4rem;
                        line-height: 1.5em;
                        letter-spacing: 0.08em;
                        margin-bottom: 24px;
                        @include sm {
                            font-size: 1.8rem;
                        }
                    }
                    &__img {
                        margin-bottom: 24px;
                    }
                    &__text {
                        margin-bottom: 64px;
                        @include sm {
                            margin-bottom: 40px;
                        }
                        h2 {
                            font-size: 3.2rem;
                            line-height: 1.5em;
                            letter-spacing: 0.08em;
                            @include sm {
                                font-size: 2rem;
                            }
                        }
                        h3 {
                            line-height: 1.5em;
                            font-size: 2rem;
                            letter-spacing: 0.08em;
                            @include sm {
                                font-size: 1.6rem;
                            }
                        }
                        h4 {
                            line-height: 1.5em;
                            font-size: 1.8rem;
                            letter-spacing: 0.08em;
                            @include sm {
                                font-size: 1.4rem;
                            }
                        }
                        h5 {
                            line-height: 1.5em;
                            font-size: 1.6rem;
                            letter-spacing: 0.08em;
                            @include sm {
                                font-size: 1.2rem;
                            }
                        }
                        p {
                            font-size: 1.6rem;
                            line-height: 1.5em;
                            letter-spacing: 0.08em;
                            padding-bottom: 24px;
                            @include sm {
                                font-size: 1.4rem;
                            }
                        }
                        a {
                            color: $color3;
                            font-size: 1.6rem;
                            line-height: 1.5em;
                            letter-spacing: 0.08em;
                            padding-bottom: 16px;
                            text-decoration: underline;
                            font-weight: 500;
                            @include sm {
                                font-size: 1.4rem;
                            }
                        }
                    }
                    &__page {
                        text-align: center;
                        @include flex ($justify: center);
                        .tolist {
                            display: inline-block;
                            margin: 0 80px;
                            color: $color3;
                            font-weight: 500;
                        }
                        .prev-link,
                        .next-link {
                            @include flex();
                        }
                    }
                }
            }
        }
    }
}