#oneday {
    img {
        padding-right: 64px;
        @include sm {
            padding-right: 0;
        }
    }
    .under-content {
        &--area {
            .under-content--text {
                .text-box {
                    @include sm {
                        padding: 24px;
                    }
                    &__title {
                        padding-bottom: 16px;
                        @include sm {
                            font-size: 1.6rem;
                            padding-bottom: 16px;
                        }
                    }
                }
                .num1 {
                    background-color: $color7;
                }
                .num2 {
                    background-color: $color5;
                }
            }
        }
    }
}