.pagination {
    //ページャーのスタイル
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    font-size: 1.6rem;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: 0.08em;
    margin-top: 64px;
    @include sm {
        margin-top: 40px;
        font-size: 1.4rem;
    }
}


/* ページャーのリンクボックス　*/

.pagination span,
.pagination a {
    margin-right: 16px;
    border: 1px solid $color3;
    background-color: $color1;
    text-decoration: none;
    text-align: center;
    width: 56px;
    height: 56px;
    @include flex();
    justify-content: center;
    align-items: center;
    color: $color3;
    transition: 0.3s;
    @include sm {
        margin-right: 8px;
        width: 40px;
        height: 40px;
    }
}


/* ページ番号 */

.pagination .pager {
    width: 56px;
    @include sm {
        width: 40px;
    }
}


/* ホバー時 & 現在のページ */

.pagination a:hover,
.pagination .current {
    color: $color1;
    border-color: $color3;
    background-color: $color3;
}

.pagination a:hover .page-next-1 {
    stroke: $color1;
}

.pagination a:hover .page-nprev-1 {
    stroke: $color1;
}


/* 最初へ */

.pagination a.first {}


/* 最後へ */

.pagination a.last {}


/* ドット */

.pagination p.pagenation_dots {
    margin: 0 4px;
}


/* Page x / y */

.pagination span.page_num {
    display: none;
}

.nav-links {
    @include flex();
}