#pharmacy {
    #pharmacy-sec {
        padding: 80px 0 0 0;
        @include sm {
            padding: 40px 0 0 0;
        }
        .pharmacy {
            padding: 80px 0;
            @include sm {
                padding: 40px 0;
            }
            &:last-child {
                padding-bottom: 0;
                @include sm {
                    margin-top: 80px;
                }
            }
            .pharmacy-area {
                &__right {
                    .google-map {
                        @include flex($align: center);
                    }
                }
            }
        }
    }
}