#recruit {
    .pharmacy-flex {
        @include flex();
        @include lg {
            flex-direction: column-reverse;
        }
        .pharmacy-left {
            .pharmacy-area {
                margin-bottom: 72px;
                @include sm {
                    margin-bottom: 40px;
                }
                &:last-child {
                    margin: 0;
                }
                img {
                    max-width: 351px;
                    @include lg {
                        max-width: 476px;
                    }
                    @include sm {
                        max-width: 100%;
                    }
                }
                &__right {
                    max-width: 351px;
                    @include lg {
                        max-width: 476px;
                    }
                    @include sm {
                        max-width: 100%;
                    }
                    p.title-s-border {
                        margin-top: 24px;
                        font-size: 1.6rem;
                        color: $color3;
                        font-weight: 500;
                        @include sm {
                            margin-top: 16px;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .pharmacy-title-area {
                @include flex ();
                margin-bottom: 16px;
                @include lg {
                    align-items: flex-start;
                    flex-direction: column;
                }
                .title {
                    font-size: 2rem;
                    color: $color3;
                    line-height: 1.5em;
                    letter-spacing: 0.08em;
                    font-weight: 500;
                    @include sm {
                        font-size: 1.6rem;
                    }
                }
                ul {
                    margin-left: 24px;
                    @include flex();
                    @include lg {
                        margin-left: 0;
                        flex-wrap: wrap;
                    }
                    li {
                        font-size: 1rem;
                        line-height: 1.8em;
                        letter-spacing: 0.08em;
                        color: $color3;
                        background-color: $color8;
                        padding: 7px 8px;
                        margin-right: 8px;
                        font-weight: 500;
                        height: 29px;
                        padding: 0 8px;
                        display: flex;
                        align-items: center;
                        @include lg {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
    .side-nav {
        margin-left: auto;
        @include lg {
            margin-left: 0;
            margin-bottom: 32px;
            @include flex();
        }
        .category,
        .year {
            ul {
                padding-left: 40px;
                li {
                    color: $color3;
                    margin-top: 16px;
                    font-weight: 500;
                }
            }
        }
        h3.title-border {
            margin-bottom: 0;
            font-family: din-condensed, sans-serif;
            font-size: 3.2rem;
            line-height: 1.2em;
            letter-spacing: 0.06em;
            color: $color3;
            padding: 0 40px;
            &:before {
                border: none;
            }
            @include sm {
                font-size: 2rem;
            }
        }
        .ac-parent {
            &:before {
                border-bottom: solid 4px $color5;
                top: 50%;
                left: 0;
                @include sm {}
            }
            &::after {
                left: 10px;
                background: $color5;
                @include sm {
                    height: 24px;
                    width: 4px;
                    top: 50%;
                }
            }
        }
    }
    .side-nav-year {
        margin-top: 40px;
        @include lg {
            margin-top: 0;
        }
    }
}