#single-recruit {
    .recruit-info {
        margin-bottom: 24px;
        @include sm {
            margin-bottom: 16px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &__title {
            position: relative;
            @include flex ($align: center);
            width: 100%;
            padding: 32px 40px;
            font-size: 2rem;
            letter-spacing: 0.08em;
            color: $color3;
            font-weight: 500;
            background-color: $color5;
            @include sm {
                font-size: 1.6rem;
                padding: 24px 16px;
            }
            .btn {
                position: absolute;
                right: 40px;
                width: 16px;
                height: 16px;
                @include sm {
                    right: 32px;
                }
                @include sp {
                    right: 16px;
                }
                &::before,
                &::after {
                    display: block;
                    content: '';
                    background-color: $color3;
                    position: absolute;
                    width: 16px;
                    height: 4px;
                    top: 50%;
                    left: 50%;
                    transition: 0.5s;
                    transform: translate(-50%, -50%);
                }
                &::before {
                    width: 4px;
                    height: 16px;
                    top: 50%;
                    left: 50%;
                    transition: 0.5s;
                    transform: translate(-50%, -50%);
                }
            }
            &.active {
                .btn {
                    &::before {
                        top: 0;
                        left: 35%;
                        transform: rotate(-270deg);
                        transition: 0.5s;
                    }
                }
            }
        }
        .ac-parent:before {
            left: auto;
            right: 40px;
            background: $color3;
            @include sm {
                right: 16px;
            }
        }
        .ac-parent:after {
            left: auto;
            background: $color3;
            right: 49px;
            @include sm {
                right: 23px;
            }
        }
        &__area {
            padding: 40px;
            border: 2px solid $color5;
            @include sm {
                padding: 24px;
            }
            &--item {
                @include flex ();
                padding-bottom: 24px;
                @include sm {
                    // padding-right: 16px;
                }
                @include sp {
                    flex-direction: column;
                    margin: 0 auto;
                }
                .item-title {
                    max-width: 109px;
                    width: 100%;
                    padding-right: 24px;
                    white-space: nowrap;
                    color: $color3;
                    font-weight: 500;
                    @include sm {
                        max-width: 88px;
                    }
                    @include sp {
                        max-width: 100%;
                        padding: 0 0 8px 0;
                    }
                }
            }
            &--buttons {
                @include flex ($justify: center);
                // margin-top: 16px; 職場見学ボタンが追加されたときにコメントアウトを外してください。
                @include sp {
                    flex-direction: column;
                    align-items: center;
                }
                .recruit-button {
                    @include flex($align: center, $justify: center);
                    height: 56px;
                    max-width: 288px;
                    width: 100%;
                    color: $color3;
                    font-weight: 500;
                    border: solid 1px $color3;
                    transition: 0.3s;
                    @include sm {
                        height: 48px;
                    }
                    &:hover {
                        background-color: $color3;
                        color: $color1;
                    }
                    &:hover .link-k-1 {
                        stroke: $color1;
                    }
                }
                .recruit-button-l {
                    margin-right: 48px;
                    @include sm {
                        margin-right: 16px;
                    }
                    @include sp {
                        margin: 0;
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}