#service {
    // baseここから--------------------------
    .title-border {
        font-weight: 500;
        @include sm {
            margin-bottom: 40px;
        }
    }
    .under-content {
        &--area {
            .under-content--text {
                @include sp {
                    margin-top: 0;
                }
                .text-box {
                    @include sp {
                        padding: 24px 16px;
                    }
                    // ここまで-------------------------------
                    .title-s-border {
                        margin-top: 24px;
                        padding: 0;
                        justify-content: flex-end;
                        @include sm {
                            margin-top: 16px;
                        }
                        &::before {
                            left: inherit;
                            right: 224px;
                            @include sm {
                                right: 196px;
                            }
                        }
                        a {
                            color: $color3;
                        }
                    }
                }
            }
        }
    }
}