//色設定
$color1: #ffffff;
$color2: #000000;
$color3: #3E366B;
$color4: #4B4A4A;
$color5: #E4F4EE;
$color6: rgba(255, 255, 255, 0.95);
$color7: #F2F2F2;
$color8: rgba(62, 54, 107, 0.16); //break point
$color9: #D9D8D8;
$color10: rgba(255, 255, 255, 2);
$color11: rgba(75, 74, 74, 0.8);
$color12:#E0DEE7;
$color13:#82ccb1;
$break-point_xl: 1200px;
$break-point_lg: 1024px;
$break-point-md: 768px;
$break-point-sp: 540px;
$break-point-xs: 375px;
// @include xl { (1200px) } PCの最小
// @include lg { (1024px) } タブレット横
// @include md { (768px) }　タブレット縦
// @include sm { (767px) }　タブレット-スマホ
// @include sp { (540px) }　スマホ-iPhoneX
// @include xs { (375px) }　スマホ-iPhone5/6