#voice {
    // sectionの余白の取り方が分からなかったので仮で書きました。後で直してください。
    // baseここから--------------------------
    .title-border {
        font-weight: 500;
        @include sm {
            margin-bottom: 40px;
        }
    }
    // ここまで-------------------------------
    img {
        max-width: 928px;
        @include lg {
            max-width: calc(100% - 64px);
            margin: 0 0 auto 0;
        }
        @include sp {
            max-width: 100%;
            margin: 0;
        }
    }
    .message-img {
        background-size: cover;
        background-position: center center;
        padding-top: 51.62%;
        width: 100%;
    }
    .under-content {
        &--area {
            // baseここから--------------------------
            .under-content--text {
                @include sp {
                    margin-top: 0;
                }
                .daihyou {
                    margin-bottom: 24px;
                    &:last-child {
                        margin: 0;
                    }
                    .text-box {
                        padding: 40px;
                        border: 2px solid $color5;
                        background-color: $color1;
                        display: none;
                        @include sm {
                            padding: 24px;
                        }
                        @include sp {
                            padding: 16px;
                        }
                        &__title {
                            @include flex(0, center);
                            position: relative;
                            width: 100%;
                            max-width: 992px;
                            height: 100px;
                            padding: 40px;
                            font-size: 2rem;
                            letter-spacing: 0.08em;
                            line-height: 1.5em;
                            color: $color3;
                            font-weight: 500;
                            background-color: $color5;
                            // cursor: pointer;
                            @include sm {
                                height: 80px;
                                padding: 24px;
                                font-size: 1.6rem;
                            }
                            @include sp {
                                padding: 16px;
                                padding-right: 32px;
                            }
                        }
                        // ここまで-------------------------------
                        &__text {
                            @include sm {
                                font-size: 1.4rem;
                            }
                        }
                        &__c-name {
                            padding-top: 24px;
                            font-size: 2rem;
                            letter-spacing: 0.08em;
                            color: $color3;
                            font-weight: 500;
                            text-align: right;
                            white-space: nowrap;
                            @include sm {
                                font-size: 1.6rem;
                            }
                        }
                        &__name {
                            padding-top: 8px;
                            font-size: 3.2rem;
                            letter-spacing: 0.08em;
                            line-height: 0.937em;
                            color: $color3;
                            font-weight: 500;
                            text-align: right;
                            @include sm {
                                font-size: 2rem;
                            }
                            span {
                                padding-right: 16px;
                                font-size: 2rem;
                                letter-spacing: 0.08em;
                                color: $color3;
                                font-weight: 500;
                                @include sm {
                                    font-size: 1.6rem;
                                }
                                @include sp {
                                    padding-right: 8px;
                                }
                            }
                        }
                        &.num1 {
                            margin-bottom: 24px;
                            background-color: $color5;
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                        &.num2 {
                            margin-bottom: 24px;
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .active_content {
                        display: block;
                    }
                }
                .text-box {
                    @include sm {
                        padding: 24px;
                    }
                    &__title {
                        @include sm {
                            padding-bottom: 16px;
                            font-size: 1.6rem;
                        }
                    }
                    // ここまで-------------------------------
                    &__text {
                        @include sm {
                            font-size: 1.4rem;
                        }
                    }
                    &__c-name {
                        padding-top: 24px;
                        font-size: 2rem;
                        letter-spacing: 0.08em;
                        color: $color3;
                        font-weight: 500;
                        text-align: right;
                        white-space: nowrap;
                        @include sm {
                            font-size: 1.6rem;
                        }
                    }
                    &__name {
                        padding-top: 8px;
                        font-size: 3.2rem;
                        letter-spacing: 0.08em;
                        line-height: 0.937em;
                        color: $color3;
                        font-weight: 500;
                        text-align: right;
                        @include sm {
                            font-size: 2rem;
                        }
                        span {
                            padding-right: 16px;
                            font-size: 2rem;
                            letter-spacing: 0.08em;
                            color: $color3;
                            font-weight: 500;
                            @include sm {
                                font-size: 1.6rem;
                            }
                            @include sp {
                                padding-right: 8px;
                            }
                        }
                    }
                    &.num1 {
                        margin-bottom: 24px;
                        background-color: $color5;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                    &.num2 {
                        margin-bottom: 24px;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .staff_interview-area {
        padding-bottom: 64px;
        @include sm {
            padding-bottom: 40px;
        }
        &:last-of-type {
            padding-bottom: 0;
        }
        &--box {
            max-width: 928px;
            margin-left: auto;
            margin-top: -64px;
            margin-left: 64px;
            @include sp {
                margin: 0
            }
        }
        &--title {
            @include flex(0, center);
            position: relative;
            width: 100%;
            max-width: 992px;
            height: 100px;
            padding: 40px;
            font-size: 2rem;
            letter-spacing: 0.08em;
            line-height: 1.5em;
            color: $color3;
            font-weight: 500;
            background-color: $color5;
            // cursor: pointer;
            @include sm {
                height: 80px;
                padding: 24px;
                font-size: 1.6rem;
            }
            @include sp {
                padding: 16px;
                padding-right: 32px;
            }
            .title-flex {
                padding-right: 16px;
                @include flex($align: center);
                @include sp {
                    padding-right: 8px;
                }
            }
            span {
                display: block;
                @include sp {
                    padding-right: 8px;
                }
            }
            .btn {
                @include absoluteCenterY;
                position: absolute;
                right: 40px;
                width: 16px;
                height: 16px;
                left: unset;
                @include sm {
                    right: 24px;
                }
                @include sp {
                    right: 16px;
                }
                &::before,
                &::after {
                    display: block;
                    content: '';
                    background-color: $color3;
                    position: absolute;
                    width: 16px;
                    height: 4px;
                    top: 50%;
                    left: 50%;
                    transition: 0.5s;
                    transform: translate(-50%, -50%);
                }
                &::before {
                    width: 4px;
                    height: 16px;
                    transition: 0.5s;
                }
            }
            &.active {
                .btn {
                    &::before {
                        top: 0;
                        left: 35%;
                        transform: rotate(-270deg);
                        transition: 0.5s;
                    }
                }
            }
        }
        &--content {
            padding: 40px;
            border: 2px solid $color5;
            background-color: $color1;
            display: none;
            @include sm {
                padding: 24px;
            }
            @include sp {
                padding: 16px;
            }
            img {
                max-width: 848px;
                @include lg {
                    max-width: calc(100% - 64px);
                    max-width: 0 0 auto 0;
                }
                @include sp {
                    max-width: 100%;
                    margin: 0;
                    padding: 16px;
                }
            }
            .under-content {
                .under-content--area {
                    max-width: 846px;
                    .text-box {
                        @include sm {
                            padding: 32px;
                        }
                        @include sp {
                            padding: 24px;
                        }
                        &__text {
                            @include sp {
                                font-size: 1.4rem;
                            }
                        }
                        &__name {
                            @include flex ();
                            justify-content: flex-end;
                            align-items: flex-end;
                            padding-top: 24px;
                            color: $color3;
                            font-weight: 500;
                            @include sm {
                                flex-direction: column;
                                padding-top: 16px;
                            }
                            &--college,
                            &--name {
                                font-size: 2rem;
                                text-align: right;
                                margin-left: 24px;
                                @include sm {
                                    font-size: 1.6rem;
                                    margin-left: 0;
                                }
                            }
                            &--name {
                                padding-top: 8px;
                            }
                        }
                    }
                }
            }
        }
        .active_content {
            display: block;
        }
    }
}